certifi==2021.10.8
charset-normalizer==2.0.12
cssselect==1.1.0
idna==3.3
importlib-metadata==4.11.3
Jinja2==3.1.0
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.1.1
pyquery==1.4.3
requests==2.27.1
urllib3==1.26.9
zipp==3.7.0
